// main about section styles goes here

.about-stamppot {
    max-width: 100%;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 100px 0px;
    font-size: 20px;
    font-weight: 700;
    color: #2875c8
}

.pan {
    width: 30%;
    margin: 0 auto;
}
